<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billy.system.mapper.MembersMapper">

    <select id="getMembersByPage" resultType="com.billy.system.entity.FamilyMembers">
        SELECT ID,
            NAME,
            age,
            birthday,
            family_status,
            personal_profile,
            create_time
        FROM
            family_members
    </select>

</mapper>